/*
Style Sheet

color palette

black #030201
white #E7FCE9
brown #7E4E21
dark purple #1D0C4B
light purple #8A73CA

*/

body {
    background: url('images/macbackground.jpeg');
}

body, 
html, 
a:hover {
    text-decoration: none;
    list-style: none;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    display: block;
}

li {
    display: inline;
}

a {
    color: black;
}


/* header*/

.name_header, 
.subheader {
    margin: 0;
    color: #E7FCE9;
}

.subheader {
    margin-top: -0.25em;
    margin-left: 1.25em;
}

.footer {
    position: fixed;
    bottom: 0;
}

.hidden {
    display: none;
}

.title_holder {
    margin-left: 7%;
}

.title_group {
    padding: 30px;
}


/* end header */


/* start menu Icon*/

#menu_bar_container {
    cursor: pointer;
    margin: 30px auto 10px;
    position: absolute;
    top: 10%;
    right: 7%;
    margin-top: -30px;
}

.menubar1, .menubar2, .menubar3 {
    width: 35px;
    height: 5px;
    background: #E7FCE9;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 5px;
}

.change .menubar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    margin-left: 2px;
}

.change .menubar2 {
    opacity: 0;
}

.change .menubar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    margin-right: 2px;
}


/* end menu Icon */


/* start modal */

#modal {
    background: black;
}


/* end modal */
/* Bash Screen */

.name {
    display: none;
}

.big_window {
    background: #ebebeb;
    font-style: none;
    width: 60%;
    border-top: 2px groove #f3f3f3;
    border-radius: 5px;
    height: 20em;
    margin: auto 10% auto 15%;
    position: absolute;
    box-shadow: -5px 10px 40px 10px;
    overflow: hidden;
}

.text_area {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 28em;
    border: 1px groove #202325;
    background-color: white;
    box-shadow: 1px #c8c8c8;
    font-family: Menlo, monospace, Courier New, Courier;
    padding: 5px;
    font-size: 15px;
    line-height: 15px;
}

.term_para {
    margin-top: -10px;
}

.button {
    border-radius: 25px;
    width: 12px;
    height: 12px;
    margin: 2px;
    float: left;
    margin-top: 7px;
    margin-right: 5px;
}

.red {
    margin-left: 10px;
    background-color: #fc635d;
    border: 1px solid #e54542;
    cursor: pointer;
    color: #fc635d;
}

.red:hover {
    color: black;
    border: 1px solid #fc645d;
    background-color: #e54542;
}

.yellow {
    background-color: #fec041;
    border: 1px solid #e5a142;
    cursor: no-drop;
}

.yellow:hover {
    background-color: #e5a142;
    border: 1px solid #fec041;
}

.green {
    background-color: #32c84b;
    border: 1px solid #32ab42;
    cursor: no-drop;
}

.green:hover {
    background-color: #32ab42;
    border: 1px solid #32c84b;
}

.window_title {
    margin: .1em;
    padding: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
}

#bash {
    display: inline;
}

@media screen and (max-width: 500px) {
    .big_window {
        margin: 10px;
        width: 90%;
        height: auto;
    }
    .window_title {
        font-size: .7em;
    }
    .button {
        width: 8px;
        height: 8px;
        margin: 2px;
    }
    .term_para {
        margin-top: 0px;
    }
    .name {
        display: inherit;
    }
}

@media screen and (max-width: 360px) {
    h1 {
        font-size: 25px;
    }
    .title_group {
        padding: 20px;
    }
}


/* End Bash Screen */
